<HTML>
<HEAD>
	<TITLE>Ian Darwin's Java Templates</TITLE>
</HEAD>
<BODY BGCOLOR=Green TEXT=White LINK=White VLINK=White>
<H1>Ian Darwin's Java Templates</H1>
<P>This is my current list of Java template files.
Any of these can be used for any purpose, without credit - they're
too small and too obvious to bother copyrighting.
<P>All of these have <a href="http://www.cyclic.com">CVS tags </A>
already in place (you need to change one character, which is to prevent
the tags from being expanded while I work on the templates themselves).
<UL>
<li><a href=@.txt>@.txt</A>, just the @author/@version identity template
<li><a href="addactionlistener.java">addactionlistener.java</a></li>
<li><a href=AppApp.htm>AppApp.htm</A>, an Applet/Application - demo HTML
<li><a href=AppApp.java>AppApp.java</A>, an Applet/Application - Java source
<li><a href=Applet.java>Applet.java</A>, a simple applet
<li><a href="Filter.java">Filter.java</a></li>
<li><a href=G2D.java>G2D.java</A>, a Component with Graphics2D use
<li><a href="GUIextendsFrame.java">A GUI that extends Frame</a></li>
<li><a href="GUIwithFrame.java">A GUI with a Frame instance</a></li>
<LI><A href=JOption.frag>JOption.frag</A>, a few lines showing
	the easy way of invoking JOptionPane.
<li><a href="junittest.java">A <i>junittest.java</i> test program</a></li>
<li><a href=main.java>main.java</A>, a line-mode main program
<li><a href="mainopts.java">A line-mode main program</a></li>
<li><a href="Servlet-doGetPost.java">An HttpServlet overriding doGetPost</a></li>
<li><a href="Servlet-service.java">An HttpServlet overriding service</a></li>
<li><a href=Swing.java>Swing.java</A>A GUI based on SWING
</UL>
<P>This is $Id$</P>.
</BODY>
</HTML>
