<HTML>
<HEAD>
	<TITLE>Ian Darwin's Java Templates</TITLE>
</HEAD>
<BODY BGCOLOR=Green TEXT=White LINK=White VLINK=White>
<H1>Ian Darwin's Java Templates</H1>
<P>This is my current list of Java template files.
Any of these can be used for any purpose, without credit - they're
too small and too obvious to bother copyrighting.
<P>All of these have <A HREF="http://www.cyclic.com">CVS tags </A>
already in place (you need to change one character, which is to prevent
the tags from being expanded while I work on the templates themselves).
<UL>
<LI><A HREF=@.txt>@.txt</A>, just the @author/@version identity template
<LI><A HREF=AppApp.htm>AppApp.htm</A>, an Applet/Application - demo HTML
<LI><A HREF=AppApp.java>AppApp.java</A>, an Applet/Application - Java source
<LI><A HREF=Applet.java>Applet.java</A>, a simple applet
<LI><A HREF=G2D.java>G2D.java</A>, a Component with Graphics2D use
<LI><A HREF=GUI0.java>GUI0.java</A>, a GUI constructing a Frame
<LI><A HREF=GUI1.java>GUI1.java</A>, a GUI subclassing Frame
<LI><A HREF=main.java>main.java</A>, a line-mode main program
<LI><A HREF=Swing.java>Swing.java</A>, a GUI based on SWING
</UL>
<P>This is $Id$</P>.
</BODY>
</HTML>
