<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

    <display-name>Buzz-In Application</display-name>
    <description>
	This is a simple Servlet application that lets you run a quiz show
	where the first person to "buzz in" gets to try to answer the
	skill-testing question. It demonstrates Thread synchronization.
	</description>

    <!-- Servlet definitions -->

    <servlet>
        <servlet-name>BuzzInServlet</servlet-name>
        <servlet-class>BuzzInServlet</servlet-class>
    </servlet>

    <!-- Servlet name mappings.  -->

    <servlet-mapping>
        <servlet-name>BuzzInServlet</servlet-name>
        <url-pattern>/hosts/BuzzInServlet</url-pattern>
    </servlet-mapping>

  <!-- Define the Show Hosts-only area, by defining
   *** a "Security Constraint" on this Application,
   *** mapping it to the subdirectory (URL) that we want to restrict.
   -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ShowHosts</web-resource-name>
      <url-pattern>/hosts/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
       <role-name>host</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Define the Login Configuration for this Application -->
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Show-Hosts-only Area</realm-name>
  </login-config>

</web-app>
