<persistence xmlns="http://java.sun.com/xml/ns/persistence"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
	http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
   version="1.0">
   
<persistence-unit name="jpademo">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>

    <exclude-unlisted-classes>false</exclude-unlisted-classes>

    <properties>

    <!-- Properties for Hibernate -->
    <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
    <property name="hibernate.show_sql" value="true"/>
    <property name="hibernate.format_sql" value="false"/>
    <property name="hibernate.archive.autodetection" value="class"/>
    <property name="hibernate.connection.driver_class" 
		value="org.hsqldb.jdbcDriver"/>
    <property name="hibernate.connection.url"
		value="jdbc:hsqldb:mem:jpademo.db"/>
    <property name="hibernate.connection.username" value="sa"/>
    <property name="hibernate.connection.password" value=""/>
    <property name="hibernate.transaction.factory.class" 
        value="org.hibernate.transaction.JTATransactionFactory"/>
    <property name="hibernate.dialect"
		value="org.hibernate.dialect.HSQLDialect"/>

    <!-- Properties for other providers -->

    </properties>
</persistence-unit>
</persistence>