# The Factory code is from another example; the names
# renderer and provider are just there to show that
# you can create an aribrary number of simple POJOs
# as long as all the classes have no-argument constructors
renderer=patterns.creation.MyRenderer
#renderer=patterns.creation.MyOtherRenderer
provider=java.util.Date
#
# This line is only used by the AbstractFactoryDemo class
dao_type=JPA
